<style>

p{
font-size:20px;
color:#fff;
}


    
</style>

<body style="background-color:#9bb7d4;">
<div class = "container-fluid text-center" style="margin-top:70px;border:none">
<div style="border-bottom:solid;color:black;font-size:25px;margin-bottom:30px;">ABOUT</div>
<p>  Direct Family Services connects legal document professionals to families in need of family law support. Our legal team of document experts combine their experience along with their technical abilities to help you navigate the complex and often times bumpy road that family law may pose. Our team of engineers build and maintain our systems ensuring your documents are always on track and always moving down our document pipeline. Our team  of Case administrators/managers provide emotional well-being and support as well as answer all of your questions and concerns. </p>
</div>
<body>
