

<style>
span{
margin-left:20px;
color:green;

}
</style>

<div class="container-fluid" style="margin-top:100px;border-top:none;">
<h1>Thank you! Your information has been received! We will be in touch with you shortly to discuss the next steps!<span class="glyphicon glyphicon-ok"></span></h1>
        <h1>747-235-0345</h1>

         <%= link_to "Back Home", root_path, class: "btn btn-primary" %>
</div>
 
 
